.crane {
	display: flex;
	flex-direction: column;
	width: 100%;

	min-height: 620px;
	overflow: hidden;
}

.crane__title-container {
	padding: 0 15px;
}

.crane__title-orange {

	max-width: 1110px;
	width: 100%;
	margin: 50px auto 55px auto;

	color: #FF971D;

	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 141.69%;
}

.crane__title {
	color: #2D2D2D;
}

.crane__slider {
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;

	width: 100%;

	margin: 0 auto 0 auto;

	height: max-content;
	overflow: scroll;

	-ms-overflow-style: none;
	/* hide scrollbar in IE and Edge */
	scrollbar-width: none;
	/* hide scrollbar in Firefox */
}

.crane__slider::-webkit-scrollbar {
	display: none;
	width: 0;

	-ms-overflow-style: none;
	/* hide scrollbar in IE and Edge */
	scrollbar-width: none;
	/* hide scrollbar in Firefox */
}



.crane__wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	transition: all 0.5s ease-in-out;


}

.crane__wrapper::-webkit-scrollbar {
	display: none;

	-ms-overflow-style: none;
	/* hide scrollbar in IE and Edge */
	scrollbar-width: none;
	/* hide scrollbar in Firefox */
}


.crane__slider-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	max-width: 1110px;
	width: 100%;

	margin: 10px auto 0 auto;
}



@media screen and (max-width: 950px) {
	.crane__slider {
		margin: 0 auto 0 0;
	}
}

@media screen and (max-width: 700px) {}


@media screen and (max-width: 550px) {
	.crane__title-orange {
		font-size: 32px;
	}
}

@media screen and (max-width: 425px) {
	.crane__title-orange {
		font-size: 23px;
	}
}