.services {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url(../../images/services-banner-1.svg);
	background-repeat: no-repeat;
	background-position: left top 50px;

	padding: 0 15px;
}

.services__title {
	max-width: 1110px;
	width: 100%;

	color: #2d2d2d;

	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 141.69%;
}

.services__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}

.services__card-link-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 370px;


	text-decoration: none;

	z-index: 10;

	box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}



.services__card-image {
	object-fit: cover;

	max-height: 325px;
	max-width: 370px;

	height: 100%;
	width: 100%;
}

.services__card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	text-align: center;

	width: 100%;
	height: 85px;

	color: white;
	margin: 0;

	background-color: #FCB427;
}

.services__card-title:hover {
	background-color: #FF971D;
}

.services__123 {
	width: 200px;
	margin: 0;
}

.services__banner {
	width: 100%;
	margin: -50px 0 0 0;
	height: 150px;

	background-image: url(../../images/services-banner-2.svg);
	background-position: right;
	background-repeat: no-repeat;
}



@media screen and (max-width: 830px) {
	.services__content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 550px) {
	.services__title {
		font-size: 32px;
	}

	.services__content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 425px) {
	.services__title {
		font-size: 23px;
	}
}