.catalog {
	display: flex;
	flex-direction: column;

	justify-content: space-between;

	width: 100%;

	margin: 0;

	height: max-content;

	overflow: hidden;
}

.catalog__padding-container {
	padding: 0 15px 0 15px;
}

.catalog__title {
	max-width: 1110px;


	color: #2d2d2d;

	margin: 0 auto 20px auto;

	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 141.69%;
}

.catalog__link {
	width: 250px;
	height: 50px;

	margin: 30px auto;

	background-color: #ffbf1d;

	border: none;
}



.catalog__content-scroll {
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;

	overflow: scroll;
	width: 100%;
	height: 100%;

	-ms-overflow-style: none;
	/* hide scrollbar in IE and Edge */
	scrollbar-width: none;
	/* hide scrollbar in Firefox */
}

.catalog__content-wrapper {
	width: 400px;
	margin: auto;
}

.catalog__content {
	display: flex;
	transition: all 0.4s ease-in-out;
}

/* hide scrollbar in webkit browser */
.catalog__content-scroll::-webkit-scrollbar,
.catalog__content::-webkit-scrollbar,
.catalog__content-wrapper::-webkit-scrollbar {
	display: none;

	-ms-overflow-style: none;
	/* hide scrollbar in IE and Edge */
	scrollbar-width: none;
	/* hide scrollbar in Firefox */
}

.catalog__content>* {
	width: 400px;
	height: 600px;
	flex-shrink: 0;
	flex-grow: 1;
}


@media screen and (max-width: 550px) {
	.catalog__title {
		font-size: 32px;
	}
}

@media screen and (max-width: 425px) {
	.catalog__title {
		font-size: 23px;
	}

	.catalog__content {
		width: 310px;
	}

	.catalog__content-wrapper {
		width: 310px;

	}
}