.not-found {
	color: #2d2d2d;
	text-align: center;

	margin: 150px;
}

.not-found__title {
	font-size: 250px;
	margin: 0;
}


.not-found__subtitle {
	font-size: 25px;
	margin: 0;
}


@media screen and (max-width: 650px) {

	.not-found__title {
		font-size: 175px;
	}

	.not-found__subtitle {
		font-size: 18px;
		margin: 0;
	}


}

@media screen and (max-width: 400px) {
	.not-found__title {
		font-size: 125px;
	}

	.not-found__subtitle {
		font-size: 13px;
		margin: 0;
	}
}