.about {
	display: flex;
	width: 100%;
	height: 700px;

	background-color: #ededed;
}

.about__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	background-image: url(../../images/about-banner.svg);
	background-repeat: no-repeat;
	background-size: contain;

	margin: auto 0;
	padding: 0 15px;

	width: 100%;
	height: max-content;
}

.about__content {
	display: flex;
	flex-direction: row;
	max-width: max-content;
	margin: 0 auto 0 auto;
}

.about__us {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto 25px auto;

	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 141.69%;
}

.about__paragraph {
	max-width: 560px;
	width: 100%;
	margin: 0 20px 0 0;
}

.about__iframe {
	width: 660px;
	height: 370px;
	margin: 0 0 25px 0;
}


@media screen and (max-width: 1025px) {
	.about {
		height: max-content;
	}

	.about__container {
		margin: 50px 0 50px 0;
	}

	.about__content {
		flex-direction: column-reverse;
		margin: 0 auto 25px auto;
	}
}

@media screen and (max-width: 768px) {
	.about__iframe {
		width: 490px;

		margin: 0 auto 20px auto;
	}
}

@media screen and (max-width: 550px) {
	.about__us {
		font-size: 32px;
	}

	.about__iframe {
		width: 360px;
		height: 250px;
		margin: 0 auto 20px auto;
	}

	.about__paragraph {
		margin: 0;
	}
}

@media screen and (max-width: 425px) {
	.about__us {
		font-size: 23px;
	}

	.about__iframe {
		width: 260px;
		height: 200px;
		margin: 0 auto 20px auto;
	}
}