.about {
	display: flex;
	width: 100%;
	height: 700px;
}

.about__container {
	display: flex;
	flex-direction: row;
	justify-content: end;

	background-image: url(../../images/about-banner.svg);
	background-repeat: no-repeat;
	background-size: contain;


	margin: auto 0;
	padding: 0 15px;

	width: 100%;
	height: max-content;
}

.about__text {
	max-width: 560px;
	margin: 0 25px 0 0;
}

.about__us {
	margin: 0 0 25px 0;

	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 141.69%;
}