.navigation {
	width: 100%;
	height: 75px;
	z-index: 5;

	background-color: rgb(209, 209, 209);
}

.navigation__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	max-width: 1110px;
	height: 100%;



	margin: auto;

	position: relative;
}

.navigation__menu {
	display: flex;
	flex-direction: row;

	gap: 12px;

	list-style-type: none;
	padding: 0;
	margin: auto auto auto 15px;
}

.navigation__item {
	width: max-content;
	margin: auto;
}

.navigation__link {
	color: black;



	text-decoration: none;
	cursor: pointer;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 156.69%;
}

.navigation__link:hover {
	opacity: 0.6;
}

.navigation__search {
	position: relative;
	margin: auto 15px auto 0;

	width: max-content;
	height: max-content;
}

.navigation__search-input {
	border: solid 2px rgb(148, 148, 148);

	margin: 0;
	padding: 0 0 0 5px;

	width: 200px;
	height: 30px;
}

.navigation__search-input:focus {
	outline-style: none;
	border: solid 2px #ffbf1d;
}

.navigation__search-button {
	position: absolute;
	top: 5px;
	right: 7px;

	border: none;

	cursor: pointer;

	width: 20px;
	height: 20px;

	background-color: transparent;

	margin: 0;
	padding: 0;
}

.navigation__search-button:hover {
	opacity: 0.6;
}

.navigation__search-button-logo {
	width: 100%;
	height: 100%;
}

.burger-button {
	display: none;

	cursor: pointer;

	width: 40px;
	height: 40px;

	margin: auto auto auto 15px;
	padding: 0;

	background-color: transparent;
	border: none;
}

.burger-button-image {
	width: 40px;
}

.navigation__submenu {
	display: none;
}

@media screen and (max-width: 768px) {
	.burger-button {
		display: block;
	}

	.navigation__menu {
		display: none;
	}

	.navigation__submenu {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		text-align: start;

		list-style-type: none;
		padding: 0;

		z-index: 1;
		position: absolute;
		top: -80px;

		gap: 0;
		margin: 0;

		width: 100%;
		height: max-content;

		background-color: rgb(209, 209, 209);

		transition: all 0.3s ease-in-out;
	}

	.navigation__item {
		width: 100%;
		padding: 5px 0 5px 0;
		margin: 0;

		border-bottom: 1px solid black;
	}

	.navigation__link {
		margin: 0 auto 0 10px;
	}

	.navigation__item:last-of-type {
		border-bottom: none;
	}

	.navigation__menu-opened {
		position: absolute;
		top: 170px;
	}
}

@media screen and (max-width: 530px) {
	.navigation__submenu {
		top: -80px;
	}

	.navigation__menu-opened {
		top: 257px;
	}
}