.catalog-card__wrapper {
	scroll-snap-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
}

.catalog-card {
	display: flex;
	flex-direction: column;
	max-width: 370px;
	width: 100%;
	max-height: 590px;

	box-shadow: 0 0 5px;

	list-style-type: none;
	padding: 0;
	margin: auto;
}

.catalog-card__image {
	object-fit: cover;
	height: 100%;

	height: 325px;
}

.catalog-card__title {
	max-width: 370px;

	margin: 10px 30px;

	color: #2d2d2d;

	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 142.19%;
}

.catalog-card__subtitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: start;
	margin: 5px 30px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 156.69%;
}

.catalog-card__subtitle-value {
	margin: 0 20px;
}

.catalog-card__link {
	color: #2d2d2d;
	margin: 22px 30px;

	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 141.69%;
	text-decoration: none;
}

.catalog-card__rent-button {
	width: 90%;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: #2d2d2d;

	margin: 0 auto 15px auto;

	cursor: pointer;

	border: none;
	background-color: #FCB427;
}


@media screen and (max-width: 425px) {
	.catalog-card__wrapper {
		max-width: 310px
	}

	.catalog-card {
		max-width: 280px;
		max-height: 550px;
	}
}