.catalog-card__wrapper {
	scroll-snap-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.catalog-card {
	display: flex;
	flex-direction: column;

	max-width: 370px;
	width: 100%;
	max-height: 590px;

	box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
	background-color: #ffffff;

	list-style-type: none;
	padding: 0;
	margin: 0 15px 15px 15px;
}

.catalog-card__image-wrapper {}

.catalog-card__image {
	object-fit: cover;

	width: 100%;

	height: 290px;
}

.catalog-card__title {
	max-width: 370px;
	width: max-content;

	margin: 10px 30px;

	color: #2d2d2d;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 142.19%;
}

.catalog-card__subtitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: start;
	margin: 0 30px 5px 30px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 156.69%;
}

.catalog-card__subtitle-value {
	margin: 0;
}

.catalog-card__link {
	color: #2d2d2d;
	margin: 5px auto 10px 30px;

	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 141.69%;
	text-decoration: none;
}

.catalog-card__rent-button {
	width: 90%;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: #2d2d2d;

	margin: auto auto 15px auto;

	cursor: pointer;

	border: none;
	background-color: #FCB427;
}


.catalog-card__rent-button:hover {
	background-color: #FF971D;
}

.catalog-card__givemesomethissmallcards {
	max-width: 280px;
	max-height: 550px;

	margin: 0;
}

@media screen and (max-width: 1150px) {

	.catalog-card__title {
		margin: 10px 10px;
	}

	.catalog-card__subtitle {
		margin: 0 10px 5px 10px;

		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 156.69%;
	}

	.catalog-card__link {
		color: #2d2d2d;
		margin: 5px auto 10px 10px;
		font-size: 16px;
	}
}


@media screen and (max-width: 425px) {
	.catalog-card__wrapper {
		max-width: 310px
	}

	.catalog-card {
		max-width: 280px;
		max-height: 550px;
	}
}