.banner {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	background-color: #F1F1F1;

	width: 100%;
	height: 659px;
}

.banner__offer {
	background-image: url(../../images/banner-offer.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	min-width: 55%;
}

.banner__logo-left {
	position: absolute;
	z-index: 1;
}

.banner__offer-container {
	max-width: 555px;
	min-width: 275px;
	height: max-content;
	padding: 0 0 0 15px;
	margin: 100px 65px auto auto;
}

.banner__line {
	width: 50%;
	height: 5px;

	margin: 0 0 20px 0;

	background-color: #FCB427;
}

.banner__title {
	margin: 0 0 30px 0;

	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 141.69%;

	color: #2D2D2D
}

.banner__subtitle {
	margin: 0 0 30px 0;

	max-width: 370px;
	min-width: 270px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 156.69%;

	color: #2D2D2D
}

.banner__buttons {
	display: flex;
	flex-direction: row;
}

.banner__call {
	max-width: 220px;
	width: 100%;
	height: 50px;

	margin: 0 30px 0 0;

	cursor: pointer;

	background-color: #FCB427;

	color: #2D2D2D;

	border: none;
}

.banner__call:hover {
	opacity: 0.6;
}

.banner__technic {
	max-width: 220px;
	width: 100%;

	cursor: pointer;

	background-color: transparent;

	color: #2D2D2D;

	border: 1px solid #2D2D2D;
}

.banner__technic:hover {
	opacity: 0.6;
}



.banner__image {
	object-fit: cover;
	width: 100%;
	height: 600px;
}

.banner__gallery {
	width: 100%;
	height: 600px;
}

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.banner__gallery {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.banner__gallery>img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation: display 30s infinite;
}

img:nth-child(2) {
	animation-delay: 6s;
}

img:nth-child(3) {
	animation-delay: 12s;
}

img:nth-child(4) {
	animation-delay: 18s;
}

img:nth-child(5) {
	animation-delay: 24s;
}

@media screen and (max-width: 715px) {

	.banner__title {
		font-size: 37px;
	}

	.banner__subtitle {
		font-size: 14px;
	}

	.banner__offer {
		width: 100%;
	}

	.banner__gallery {
		display: none;
	}

	.banner__logo-left {
		display: none;
	}
}

@media screen and (max-width: 425px) {
	.banner__buttons {
		max-width: 250px;

	}
}